@charset "utf-8";

body{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;
}

/* b{
    font-family: 'Noto Sans KR', sans-serif; !important
    font-weight: 600;  
} */

/* header#header{background: lightyellow;} */

.top{background: #0044AF; min-width: 1200px;}
/* header#header .top{background: #0044AF;} */
.tmenu{
    width: 1200px; height: 40px; _background: #eee; margin: 0 auto;
    position: relative;
}
/* .tmenu li{float: left;} */
.leftme li{float: left;}
.leftme li a{
    width: 120px;  background-color: #00163B; font-size: 16px;
    color: #fff; border-right: 2px solid #0044AF; float: left;
    display: block; text-align: center; line-height: 40px;
}
.leftme li a:hover{background-color: #ddd; color: #000; height: 40px;}
.leftme .active a{background-color: #fff !important; color: #000; height: 40px;
     /* border-bottom: 1px solid #fff; */
}

.rightme li{float: left;}
.rightme{float: right; position: absolute; right: 0; top: 7px;}
.rightme li a{
    top: -40px; display: block; padding: 5px 10px; color: #fff; font-size: 13px;
}

.rightme li:nth-child(2) a{
    float: left; background-color: #fff; color: #000; line-height: 18px;
    width: 20px; padding: 0; text-align: center; border: 1px solid #555;
    margin-right: 4px; margin-top: 2px;
}


/* _____________ */


.main{width: 1200px; height: 117px; position: relative;}
.main li{float: left;}
.main .mmenu a{display: block; margin-left:47px; font-size: 20px;}
/* .main .mmenu a{display: block; padding:0 23px; font-size: 20px;} */
/* .main .mmenu{float: right;} */
.main ul{position: absolute; right: 0; top: 45px;}
/* .main .poa{position: relative;} */

/* .main .logo{position: relative;} */
.main .logo img{position: absolute; left: 0; top: 35px;}

/* ______header______ */



.contents{
    height: 1300px;
    min-width: 1200px; _background-color: gray; padding-top: 80px;
    background-image: url(../images/patton.png), url(../images/back01_jp.jpg);
    background-repeat: repeat, no-repeat;
    background-position: center;
    background-size: auto, cover;
}


.visual{_background-color: lightyellow; width: 1200px; height: 136px;position: relative;
margin-bottom: 45px;}


.vtext h2{
    font-size: 49px; top: -6px; position: absolute; letter-spacing: -3px; color: #fff; font-weight: normal; font-family: 'Noto Sans KR', sans-serif; 
}
.vtext h1{
    font-size: 74px; letter-spacing: -5px; top: 58px; 
    position: absolute; word-spacing: -18px; color: #fff;
}


/* .visual .vicon>ul>li{float: left;} */
.visual .vicon li{float: left;}

.visual .vicon{position: absolute;right: 0; top: 1px;}
.visual .vicon a{
    padding: 0; text-align: center;margin-left: 18px;
    display: block; color: #fff;
}

.visual .vicon img{padding-bottom: 5px;}





.venner{width: 1200px; margin: 0 auto;}
.venner>ul>li{float: left; width: 25%; height: 225px; background-color: #fff;}

/* .venner>ul>li:nth-child(1) h1{
    position: absolute; top: 0px;padding: 86px; font-size: 71px;
    line-height: 78px;
}
.venner>ul>li:nth-child(1) a{
    position: absolute; top: 340px;margin-left: 86px; 
    
} */
/* .venner li>ul>li:nth-child(1)>img{width: 900px; height: 450px;}
.venner li>ul>li:nth-child(8) img{width: 900px; height: 225px; overflow: hidden;} */
.venner .bx-wrapper {
    margin: 0 auto; padding: 0;
    -moz-box-shadow: 0 0 0 #ccc;
    -webkit-box-shadow: 0 0 0 #ccc;
    box-shadow: 0 0 0 #ccc;
    border: 0 solid #fff;
    background: none;
}

/* .venner>ul>li:nth-child(2n){background: pink;}
.venner>ul>li:nth-child(3n){background: yellow;} */

.venner>ul>li:nth-child(1){width: 75%; height: 450px; overflow: hidden;}
.venner>ul>li:nth-child(1) .vftext{position: absolute; top: 60px; left: 86px;}
.venner>ul>li:nth-child(1) .vftext h1{font-size: 68px;line-height: 83px;color: #0044af;margin-bottom:20px; font-weight: 400; font-family: 'Noto Sans KR', sans-serif;}
.venner>ul>li:nth-child(1) .vftext a{
    position: absolute; display: block;
    width: 170px; line-height: 40px; font-size: 15px;
    text-align: center; background: #1A2E4F;color:#fff;
}

.venner>ul>li:nth-child(2){height: 450px; background: url(../images/ba03_yell.png), rgba(0, 0, 0, 0.5); padding: 80px 0 0 35px;}

.venner>ul>li:nth-child(2) .vstext{color: #fdfdfd;}
.venner>ul>li:nth-child(2) .vstext h2{font-size: 39px; margin-bottom: 20px; font-weight: 400; font-family: 'Noto Sans KR', sans-serif; line-height: 44px;}
.venner>ul>li:nth-child(2) .vstext p{
    font-size: 19px;line-height: 24px;
} 
.venner>ul>li:nth-child(2) .vstext a{
    position: absolute; display: block;
    width: 170px; line-height: 40px; font-size: 15px;
    text-align: center; background: rgba(20, 10, 0, 0.5);
    color: #fff; border: 1px solid #ddd;
}


.venner>ul>li:nth-child(3){background-color: #00163B; padding: 18px;}
.venner>ul>li:nth-child(3) .venwr h3{
    padding-bottom:30px; color: #fff; font-size: 23px;
    font-weight: 700; font-family: 'Noto Sans KR', sans-serif;
}
.venner>ul>li:nth-child(3) .venwr li{float: left;}
.venner>ul>li:nth-child(3) .venwr img{padding-bottom: 2px;}
.venner>ul>li:nth-child(3) .venwr{position: absolute;}
.venner>ul>li:nth-child(3) .venwr a{
    padding: 0; text-align: center; margin-left: 25px;
    display: block; color: #fff; font-size: 15px;
    line-height: 25px;
}
.venner>ul>li:nth-child(3) .venwr {}




.venner>ul>li:nth-child(4){
   color: #fff; padding: 18px;
    background: url(../images/con4bg.png); overflow: hidden;
    /* background-repeat: no-repeat; */
}
.venner>ul>li:nth-child(4) h5{font-size: 23px; padding-bottom: 20px;
     /* padding: 20px 0px 30px 20px; */ font-weight: 700; font-family: 'Noto Sans KR', sans-serif;
    color: #fff;}
.venner>ul>li:nth-child(4) .line{width: 100%; height: 2px; background: #fff; margin-bottom: 20px;
    /* position: absolute; left: 20px;top: 66px; */
}
.venner>ul>li:nth-child(4) .flgong li{  }
.venner>ul>li:nth-child(4) .flgong li a{
    font-size: 14px; color: #ccc; width: 100%;
}
.venner>ul>li:nth-child(4) .flgong li p{
    position: relative; padding-bottom: 15px;
}
.venner>ul>li:nth-child(4) .flgong li p span{
    position: absolute; right: 0;
}
/* .venner>ul>li:nth-child(4) li{float: left;} */
/* .venner>ul>li:nth-child(4) .flgong li:nth-child(1){} */
/* .venner>ul>li:nth-child(4) .flgong li:nth-child(1){}
.venner>ul>li:nth-child(4) .flgong li:nth-child(2){width: 90px; padding-left: 2px;}
.venner>ul>li:nth-child(4) .flgong li:nth-child(4){width: 90px; padding-left: 2px;}
.venner>ul>li:nth-child(4) .flgong li:nth-child(6){width: 90px; padding-left: 2px;}
.venner>ul>li:nth-child(4) .flgong li:nth-child(8){width: 90px; padding-left: 2px;} */

/* .venner>ul>li:nth-child(4) {} */



.venner>ul>li:nth-child(5){
    color: #626262; padding: 18px; 
}

/* .venner>ul>li:nth-child(5) .news{background: #eee;} */
.venner>ul>li:nth-child(5) .news h4{
    margin-bottom:20px; color: #00163B; font-size: 23px; width: 250px;
    font-family: 'Noto Sans KR', sans-serif; font-weight: 800;margin-left: -1px;
}
.venner>ul>li:nth-child(5) .news .newim{float: left;}

.venner>ul>li:nth-child(5) .news .nuIcon{margin-right: 0px; width: 140px;}
.venner>ul>li:nth-child(5) .news p{line-height: 20px; font-size: 14px; padding-bottom: 20px;}
.venner>ul>li:nth-child(5) .news .nuIcon li{float: left; margin-left: 3px;}
/* .venner>ul>li:nth-child(5) li{position: relative;} */
/* .venner>ul>li:nth-child(5) .news a{margin-left: 5px;}

.venner>ul>li:nth-child(5) .news li{float: left;} */


.venner>ul>li:nth-child(6){background: url(../images/con6bg.png);
position: relative;}

.venner>ul>li:nth-child(6) .tour a{
    width: 100%; height: 50px; background: rgba(0, 0, 0, 0.75);
    position: absolute; bottom: 0; text-align: center;/* line-height: 50px; */
    justify-content: center; display: flex; align-items: center;
}
.venner>ul>li:nth-child(6) p{color: #fff; font-size: 18px;}
.venner>ul>li:nth-child(6){}



.venner>ul>li:nth-child(7){background-image: url(../images/con8bg.png);}
.venner>ul>li:nth-child(7) a{position: relative;}
.venner>ul>li:nth-child(7) .play{
    width: 62px; height: 62px; background: rgba(22, 22, 22, 0.85);
    display: flex; justify-content: center; align-items: center;
    border-radius: 50%; position: absolute; top: calc((225px - 62px) / 2); left: 119px;
}
.venner>ul>li:nth-child(7) img{position: absolute; left: 22px;}




.venner>ul>li:nth-child(8){
    width: 75%; height: 225px; color: #fd4424; margin-bottom: 20px;
    overflow: hidden;}
.venner>ul>li:nth-child(8) li{position: relative;}
.venner>ul>li:nth-child(8) .sl2text{
    position: absolute; top: 20px; left: 33px;
}
.venner>ul>li:nth-child(8) .sl2text h3{
    font-size: 35px; font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}
.venner>ul>li:nth-child(8) .sl2text h2{
    font-size: 59px; font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold; margin-bottom: 18px;
}
.venner>ul>li:nth-child(8) .sl2text a{
    position: absolute; display: block;
    width: 170px; line-height: 40px; font-size: 15px;
    text-align: center; background: rgba(234, 19, 5, 0.75);color:#fff; border: 1.5px solid rgba(255, 255, 255, 0.6);
    font-family: 'Noto Sans KR', sans-serif; font-weight: 100;
}



/* .bot{position: absolute; background: #ddd; width: 1200px; height: 80px; left: calc(50% - 600px); bottom: 30px;} */
.bot{
    width: 1200px; height: 60px;
    overflow: hidden;background: #fff;
}
/* .bot .bottom{margin-top: 10px;} */
.bottom>ul>li{float: left;padding: 18px 0;}
.bottom>ul>li p, .bottom>ul>li a{}
.bottom>ul>li:nth-child(1) p{
    font-size: 20px; padding-left: 35px; font-weight: bold; color: #01173C; line-height: 30px;
}
.bottom>ul>li:nth-child(2){ padding-left: 35px;}
.bottom>ul>li:nth-child(2) li{float: left; padding-right: 10px;}
.bottom>ul>li:nth-child(2) li:last-child{padding-right: 0;}
.bottom>ul>li:nth-child(2) a{
    font-size: 18px; font-weight: bold; color: #585858; line-height: 27px;
}
.bottom>ul>li:nth-child(3){ position: relative;}
.bottom>ul>li:nth-child(3)>div{width: 2.5px; height: 60px;
    margin-left: 28px;background: #6b6b6b; position: absolute;left: 0;top: 0; overflow: hidden;}
.bottom>ul>li:nth-child(4){padding-left: 60px;}
.bottom>ul>li:nth-child(4) a{
    display: block; font-size: 15.5px; line-height: 26px;
    color: #696969; font-weight: bold;
}
.bottom>ul>li:nth-child(5){padding-left: 25px;}
.bottom>ul>li:nth-child(5) a{
    display: block; font-size: 15px; line-height: 28px; color: #696969;
}
.bottom>ul{position: relative;}
.bottom>ul>li:nth-child(6) .box1{
    position: absolute; right: 0; top: 0;
}
.bottom>ul>li:nth-child(6) .box2{
    position: absolute; right: 0; bottom: 0;
}





.footer{width: 1200px; height: 200px; background: #fff; margin: 0 auto; position: relative;}

.footer .logo{padding-top: 65px;}

.footer .text{position: absolute; top: 35px; left: 300px;}
.footer ul>li{float: left; font-size: 16px; padding-bottom: 15px; padding-right: 15px;}
.footer address{font-size: 15px; line-height: 25px; letter-spacing: 1.5px;}




b{font-weight: bold !important;}

.m10{margin-bottom: 30px;}
.ml-15{margin-left: -15px; /* margin-top: 1px; */}
.ml15{margin-left: 15px !important; /* margin-top: 1px; */}
.ml5{margin-left: 5px !important;}
.mr15{margin-right: 15px !important;}
.mb20{margin-bottom: 20px !important;}
.ml0{margin-left: 0 !important;}
.ml100{margin-left: 125px !important;}





