@charset "utf-8";
*{letter-spacing: -0.5px; color: #444;}
:root{}
.container-xl {
    max-width: 1300px;
}

.dnone{display: none;}
/* padding */
.pl-10{padding-left: 10px;}
.pl-20{padding-left: 20px;}
.pl-30{padding-left: 30px;}
.pl-50{padding-left: 50px;}
.pl-70{padding-left: 70px;}
.pl-100{padding-left: 100px;}
 
.pr-10{padding-right: 10px;}
.pr-20{padding-right: 20px;}
.pr-30{padding-right: 30px;}
.pr-50{padding-right: 50px;}
.pr-70{padding-right: 70px;}
.pr-100{padding-right: 100px;}
 
.pt-10{padding-top: 10px;}
.pt-20{padding-top: 20px;}
.pt-30{padding-top: 30px;}
.pt-50{padding-top: 50px;}
.pt-70{padding-top: 70px;}
.pt-100{padding-top: 100px;}
 
.pb-10{padding-bottom: 10px;}
.pb-20{padding-bottom: 20px;}
.pb-30{padding-bottom: 30px;}
.pb-50{padding-bottom: 50px;}
.pb-70{padding-bottom: 70px;}
.pb-100{padding-bottom: 100px;}

a:hover{text-decoration: none; color: #222;}

/* margin */
.ml-10{margin-left: 10px;}
.ml-20{margin-left: 20px;}
.ml-30{margin-left: 30px;}
.ml-50{margin-left: 50px;}
.ml-70{margin-left: 70px;}
.ml-100{margin-left: 100px;}
 
.mr-10{margin-right: 10px;}
.mr-20{margin-right: 20px;}
.mr-30{margin-right: 30px;}
.mr-50{margin-right: 50px;}
.mr-70{margin-right: 70px;}
.mr-100{margin-right: 100px;}
 
.mt-10{margin-top: 10px;}
.mt-20{margin-top: 20px;}
.mt-30{margin-top: 30px;}
.mt-50{margin-top: 50px;}
.mt-70{margin-top: 70px;}
.mt-100{margin-top: 100px;}
 
.mb-10{margin-bottom: 10px;}
.mb-20{margin-bottom: 20px;}
.mb-30{margin-bottom: 30px;}
.mb-50{margin-bottom: 50px;}
.mb-70{margin-bottom: 70px;}
.mb-100{margin-bottom: 100px;}

/* .mb-30{margin-bottom: 30px;} */


.cow{color: #FFF;}
.cog{color: #ccc;}
/* .cent{margin: 0 auto !important;} */

header{
    background-color: #9C190A;
    background-image: url(../images/maintbg.png);
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: cover;
    
}
header.subbg{
    background-color: none;
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 100%;
    
}
header.pro1{
    background-image: url(../img/bg1.jpg);
}
.bgt{
    background: linear-gradient( to bottom, #9C190A 10%, transparent 20%);
}
.bgt.sub{
    background: linear-gradient( to right, #9C190A 55%, transparent 55%); height: 100%;
}

.navbar li a{color: rgba(255, 255, 255, 0.8) !important;}
.navbar li p{color: rgba(255, 255, 255, 0.8) !important; padding-top: 6px;}
.navbar ul li.act>a{color: #fff !important; font-weight: bold;}
.navbar ul li:hover>a{color: #fff !important;}
/* .navbar li.act>a{color: #fff !important;} */
.navbar ul li>.subm{display: none;}


.maincon .identbg{background: #F5F5F5;}
.ident .idcon1 p{color: #666;}
.ident .idcon1{
    background-image: url(../images/conbg1.png);
    background-repeat: no-repeat;
    background-position: center; background-size: contain;
}
.ident .idcon2{
    background-image: url(../images/conbg2.png);
    background-repeat: no-repeat;
    background-position: center; background-size: contain;
}
.ident .idcon3{
    background-image: url(../images/conbg3.png);
    background-repeat: no-repeat;
    background-position: center; background-size: contain;
}
.ident .idcon4{
    background-image: url(../images/conbg4.png);
    background-repeat: no-repeat;
    background-position: center; background-size: contain;
}


 


.bgred{background: #9C190A; position: relative;}
.bgred .bgw{height: 200px; width: 100%; background: #fff; position: absolute; bottom: 0;}


.news .txt{color: #444;}

.company{position: relative;}
.company .comimg{width: calc(100% / 5); padding: 0 5px; position: relative;}
.company .plus{
    /* width: 100%; text-align: right; */
    font-size: 9px; border: 2px solid #aaa; border-radius: 3px; padding: 4px 10px; background: #bbb; color: #fff; position: absolute; right: 36px; top: 80px;
}
.company .plus:hover{color: #000;}
.company .comimg:hover .mask{display: none;}
.company .comimg:hover p{font-weight: bold; color: #fff; top: 10px; left: 17px; text-shadow: 0.5px 0.5px 5px rgba(150, 150, 150, 0.9);}
.company .comimg img{width: 100%;}
.company .comimg .hov{display: none;}
.company .comimg .mask{
    position: absolute; top: 0; width: calc(100% - 10px); height: 100%; background: rgba(0, 0, 0, 0.5); border-radius: 3%;
}
.company .comimg p{position: absolute; bottom: -2PX; left: 20px; color: #ccc; font-size: 18px;}

.bgred .news .card a{background: #777876; text-align: center; line-height: 36px; font-size: 17px; color: #fff; border-radius: 4px;}



.atten{position: relative; height: 730px;}

.line{width: 100%; height: 1px; background: #ccc;}
.blind{display: none;}

.atten .cent{position: absolute; left: 50%; transform: translateX(-50%); width: 500px; max-width: 95%; height: 520px; bottom: 80px;}
.atten .card .cate{font-size: 14px;}
.atten .card #cate{width: 90px; height: 24px; border: 1px solid #ddd; border-radius: 4px; font-size: 13px;}

.block2>p{width: 48%;}
.block2>p>label{width: 24%;}
.block2>p>input{width: 74%;}
p>input{border: 1px solid #ddd; border-radius: 4px; height: 35px;}

fieldset>p.tit>input{width: 100%;}
fieldset>p.letter{margin-bottom: 0;}
fieldset>p.letter>textarea{
    width: 100%; height: 210px; word-break: break-all; vertical-align: top; border: 1px solid #ddd; border-radius: 4px; resize: none;
}
fieldset>p.letter>.check{font-size: 13px;}
fieldset>.sub{
    border: none; height: 40px; font-size: 18px; border-radius: 4px; background: #9C190A; color: #fff;
}
fieldset>.sub:hover{font-weight: bold;}



footer{background: #221E1F; color: #fff; padding-top: 20px;}
.fcon{margin: 0 auto; max-width: 1200px !important; position: relative;}

.rogo{position: absolute; top: 22px; left: -20px;}

footer a{color: #fff !important;}
footer a:hover{font-weight: bold; text-decoration: none;}

.navbar-toggler{border: none;}
.navbar-toggler div{width: 6.3vw; height: 0.8vw; border-radius: 0.5vw; background: #fff; margin-bottom: 1vw;}
.navbar-toggler .bar3{margin-bottom: 0;}

/* #headerWrap#subbg{background: #000;} */
.bgt.sub .container-xl{height: 100%; position: relative;}

/* .subtext{height: 80%;} */
/* .map{position: relative; height: 50%; bottom: 0;} */
.map>ul{position: absolute; bottom: 10px;}
.map>ul>li{float: left; color: rgba(255, 255, 255, 0.7); font-size: 13px;}
.map>ul>li>a{color: rgba(255, 255, 255, 0.7); padding: 5px;}
.map>ul>li.now>a{color: #fff;}

.sub .subtitle h1{color: #9C190A; font-size: 85px; font-weight: bold; -webkit-text-stroke: 3px white;}



@media screen and ( min-width:768px ){
    .mo{display: none !important;}

    .row{width: 90vw; max-width: 1100px; margin: 0 auto;}

    header{
        height: 500px;
    }
    /* height: 50vw; max- */
    /* .container-xl{width: 1100px;} */
    header.subbg{
        height: 450px;
    }

    
    .tmain{height: 380px;}

    nav.navbar #collapsibleNavId>ul>li{padding-left: 20px;}
    .navbar ul li{position: relative;}
    .navbar ul li:hover>.subm{
        display: block; position: absolute; right: 8px; background: rgba(255, 255, 255, 0.3); padding: 4px 10px; font-size: 14.5px;
    }
    .navbar ul li:hover>.subm>li{padding: 2px 0;}
    
    .mtitle{font-size: 55px; font-weight: bold;}
    .mtxt{font-size: 17px; padding-bottom: 10px;}
    .mtbtn{font-size: 13px; padding: 6px 52px; margin-right: 2px;}
    .bgt .img img{width: 40vw; max-width: 435px; margin-top: 30px;}


    .maincon .brand .row{height: 45vw; max-height: 550px;}

    .maincon .brand h2{font-weight: bold; font-size: 30px;}
    .maincon .brand p{font-size: 95%; line-height: 2.2vw;}
    /* .maincon .brand{height: 700px;} */
    .maincon .brand .video{position: relative;}
    .maincon .brand .video a img{width: 22vw; max-width: 280px;}

    .maincon .brand .video a .clwin{position: absolute; z-index: 1;top: 12%; left: 15%;}
    .maincon .brand .video a .clsca{position: absolute;}
    .maincon .brand .video a .play{position: absolute; z-index: 2; width: 12%; top: 40%; right: 45%;}

    .maincon .brand .video a .capt{position: absolute; z-index: 1;top: 12%; right: 15%;}
    .maincon .brand .video a .comp{position: absolute; right: 0;}

    .maincon .brand .txt{padding-top: 3.5vw;}
    .maincon .brand .txt p{padding-top: 20px; padding-bottom: 2vw;}
    .maincon .brand .txt a{
        font-size: 9px; border: 2px solid #aaa; border-radius: 3px; padding: 4px 40px;
    }


    .maincon .ident .row .col-4{max-width: 300px;}
    .maincon .ident h3{font-size: 22px; font-weight: bold;}
    .maincon .ident p{font-size: 16px;}

    .maincon .news .card.col-auto{width: 31.5% !important;}



    /* .company .com{padding-left: 10px;} */
    .company{min-height: 420px; max-height: 600px; position: relative;}
    .company .comimg:hover .hov{display: block; color: #222; font-size: 15px; letter-spacing: -0.2px;}
    
    .bgred .news .card{position: relative;}
    .bgred .news .card .txt{padding-bottom: 50px;}
    .bgred .news .card h3{max-height: 100px; overflow: hidden;}
    .bgred .news .card p{max-height: 140px; overflow: hidden;}
    .bgred .news .card a{
        width: 120px; font-size: 16px; position: absolute; bottom: 25px; right: 30px;
    }


    
}

@media screen and ( max-width:769px ){
    .pc{display: none !important;}

    /* .container{overflow-x: hidden;} */
    .row{width: 90vw; margin: 0 auto;}

    .container{padding: 0;}
    
    header{
        /* height: 150vw; */
        background: url(../images/mainbg_mo.png) center no-repeat;
        background-size: cover;
    }
    header .bgt .container-xl.px-md-0 .row{height: 130vw;}

    .bgt.sub{
        background: linear-gradient( to right, #9C190A 63%, transparent 63%); 
    }

    nav.navbar #collapsibleNavId>ul{
        width: 90px; 

    }
    nav.navbar #collapsibleNavId>ul>li{
        border-bottom: 1px solid rgba(255, 255, 255, 0.3); font-size: 20px;
        /* border-top: 1px solid rgba(255, 255, 255, 0.3); */
        /* display: flex; justify-content: end; align-items: end; right: 0; */
    }
    nav.navbar #collapsibleNavId>ul>li:last-child{border: none;}
    .bd-none{border: 0 !important;}
    .navbar ul li:hover>.subm{display: block; font-size: 16px; padding-bottom: 3px;}


    header .tmain .col.pl-100{padding-left: 30px;}

    .mtitle{font-size: 8.4vw; font-weight: bold;}
    .mtxt{font-size: 2.5vw; padding-bottom: 10px;}
    .mtbtn{font-size: 2vw; padding: 1.2vw 8.6vw; margin-right: 0.5vw;}

    /* #headerWrap div.row div.img img{width: 90%; margin-left: 3vw;} */


    /* .maincon .brand a{width: 45vw;} */
    /* .maincon .brand img{width: 100%;} */
    .maincon .brand h2{font-size: 4.6vw; font-weight: bold; width: 100%; text-align: center; padding-top: 27px; padding-bottom: 12px;}
    .maincon .brand p{font-size: 2vw; width: 100%; text-align: center; padding-bottom: 10px;}
    
    .maincon .brand .txt{position: relative;}
    .maincon .brand .txt a{
        font-size: 9px; border: 2px solid #aaa; border-radius: 3px; padding: 4px 40px; position: absolute; left: 50%; transform: translateX(-50%);
    }

    .maincon .ident h3{font-size: 20px; font-weight: bold;}
    .maincon .ident p{font-size: 14px;}
    .ident .col-4{padding-left: 0; padding-right: 0; display: block;}

    .company .comimg{width: calc(100% / 3);}
    .company .comimg p{line-height: 19px;}
    
    .sub .subtext{padding-left: 5px;}
    .sub .subtitle h6{font-size: 14px; width: 60%;}
    .sub .subtitle h1{
        font-size: 10vw; -webkit-text-stroke: 1px white; letter-spacing: -1px; width: 60%;
    }




.rogo{position: absolute; top: 22px; left: 20px;}


}


