@charset "utf-8";

:root{
    --primary-color:#02b3e4 ;
    --secondary-color:#ff5483 ;
    --third-color:#a951ed;
}

.cow{color: #FFF;}

header{
    background-color: #9C190A; height: 500px;
    background-image: url(../images/maintbg.png);
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: cover;
    
}
.bgt{
    height: 500px;
    background: linear-gradient( to bottom, #9C190A 10%, transparent 20%);
}

