@charset "utf-8";

body{font-family: 'Roboto', sans-serif; letter-spacing: -1.8px;}

.bxslide .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    margin-bottom: 0;
}
.bxslide2 .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    margin-bottom: 0;
}

.bxslide .bx-wrapper .bx-pager.bx-default-pager a{
    background: #bbb;transition:0.3s;
}
.bxslide .bx-wrapper .bx-pager.bx-default-pager a:hover{
    background: white;
}
.bxslide .bx-wrapper .bx-pager.bx-default-pager a.active{
    background: #555;width: 40px;height: 10px;
}


.bxslide2 {position: relative; z-index: 10;}
.bxslide2 .bx-wrapper .bx-pager.bx-default-pager{
    position: absolute; bottom: 15px; left: 130px;

}
.bxslide2 .bx-wrapper .bx-pager.bx-default-pager a{
    background: #bbb; transition:0.3s; 
}
.cube>ul>li{
    color: white; justify-content: center; display: flex; justify-items: center; align-items: center; background: #ddd; text-align: center;
}
.cube>ul>li>a{
    justify-content: center; display: flex; justify-items: center; align-items: center; text-align: center; color: white; flex-direction: column;
}

.cube>ul>li:nth-child(1){background: #802429;}
.cube>ul>li:nth-child(3){background: #5C5856;}
.cube>ul>li:nth-child(4){background: #5C5856;}
.cube>ul>li:nth-child(5){background: #8FBB33;}
.cube>ul>li:nth-child(9){background: #8FBB33;}
.cube>ul>li:nth-child(10){background: #802429;}


.sns>ul>li{background: #EAEAEA;}


@media screen and (min-width:700px){
    .mo{display: none !important;}
    #mainhd{position: relative; height: 1955px; margin-bottom: 80px;}
    /* .poa{position: absolute;} */
    .headertp{
        width: 1260px; margin: 0 auto; padding-top: 45px; display: flex; position: relative; 
        z-index: 1;
    }
    .headertp .logo{
        display: block; width: 190px; height: 40px;
    }
    
    .headertp .gnb{position: absolute;right: 0;}
    .headertp .gnb li{float: left;}
    .headertp .gnb a{font-size: 20px;line-height: 40px; display: block; padding: 0 35px;}
    .headertp li:last-child a{padding-right: 0;}
    
    
    
    .bxslide{height: 1010px; width: 100%; min-width: 1260px; position: absolute; top: 0;}
    /* .bxslide .bx-wrapper{position: relative;} */
    .bxslide .bx-wrapper .bx-pager{
        bottom: 350px; position: absolute;
    }
    .bxslide li{height: 1010px; position: relative;}
    .bxslide .slpg1 a{
        position: absolute; top: 460px; left: 50%; transform: translateX(-584px);
    }
    .bxslide .slpg2 a{position: absolute; width: 100%; height: 100%;}
    
    .bxslide .slpg1{
        background-color: #EBD9CB; background-image: url(../pcimg/pc_sl1.jpg);
        background-repeat: no-repeat; background-position: center;
        /* background-size: cover; */
    }
    .bxslide .slpg2{
        background-color: #EBD9CB; background-image: url(../pcimg/pc_sl2.png);
        background-repeat: no-repeat; background-position: center;
    }
    .bxslide .slpg3{
        background-color: #EBD9CB; background-image: url(../pcimg/pc_sl1.jpg);
        background-repeat: no-repeat; background-position: center;
    }
    /* .bxslide .slpg2{background: url(../pcimg/pc_sl1.png) no-repeat center;}
    .bxslide .slpg3{background: url(../pcimg/pc_sl1.png) no-repeat center;} */
    
    
    
    .cube{
        position: absolute; margin: 0 auto;
        bottom: 0; left: 50%; transform: translateX(-50%);
    }
    .cube>ul{
        display: flex;
        flex-wrap:wrap; position: relative;
        width: 1260px; height: 1260px;
    }
    .cube>ul>li{
        width: 315px; height: 315px; float: left;
        font-size: 24px; 
    }
    .cube>ul>li>a{
        width: 315px; height: 315px;
        
    }
    .cube>ul>li>a>img{}
    
    .cube>ul>li h4{margin-top: 22px;}
    
    /* .cube>ul>li:nth-child(2n){background: #bbb;} */

    .cube>ul>li:nth-child(2){width: 630px; background: white; color: #3F3A39;}

    .cube>ul>li:nth-child(6){width: 630px;}
    .cube>ul>li:nth-child(7){height: 630px; background-image: url(../pcimg/mimg2.png); display: block; text-align: left; padding: 30px;}
    .cube>ul>li:nth-child(8){width: 630px; background-image: url(../pcimg/mimg3.png); display: block; text-align: right; padding: 30px; color: #3F3A39; position: relative;}

    .cube>ul>li:nth-child(10){background: #802429; position: absolute; bottom: 0; left: 315px;}
    .cube>ul>li:nth-child(11){width: 630px; background-image: url(../pcimg/mimg4.png); display: block; text-align: left; padding: 30px; position: absolute; bottom: 0; right: 0;}
    
    .cube>ul>li:nth-child(7) p{font-size: 20px; padding-bottom: 5px;}
    .cube>ul>li:nth-child(7)>.bar{
        width: 139px; height: 1px; display: block; background: white; margin-bottom: 10px;
    }
    .cube>ul>li:nth-child(7)>h3{font-size: 40px; line-height: 60px;}
    
    .cube>ul>li:nth-child(8) p{font-size: 20px; padding-bottom: 5px;}
    .cube>ul>li:nth-child(8)>.bar{
        width: 170px; height: 1px; background: #3F3A39; right: 0;margin-right:30px; position: absolute; 
    }
    .cube>ul>li:nth-child(8)>h3{font-size: 40px; line-height: 60px;padding-top: 10px;}
    
    .cube>ul>li:nth-child(11) p{font-size: 20px; padding-bottom: 5px;}
    .cube>ul>li:nth-child(11)>.bar{
        width: 139px; height: 1px; display: block; background: white; margin-bottom: 10px;
    }
    .cube>ul>li:nth-child(11)>h3{font-size: 40px; line-height: 60px; padding-bottom: 25px;}
    .cube>ul>li:nth-child(11)>span{font-size: 28px; line-height: 40px;}
    
    .cube>ul>li:nth-child(2) div{float: left;}
    .cube>ul>li:nth-child(2) .left{width: 50%;}
    .cube>ul>li:nth-child(2) .right{width: 50%; height: 315px; text-align: left; padding: 24px; position: relative;}
    .right p{font-size: 17px; padding: 19px 0 3px 0; letter-spacing: normal;}
    .right .bar{
        width: 132px; height: 2px; display: block; background: #3F3A39; margin: 0 120px 10px 0;
    }
    .right h3{font-size: 28px; padding-bottom: 22px; letter-spacing: -2.8px;}
    .right span{font-size: 21px; line-height: 30px; letter-spacing: -0.5px;}
    .right>a{
        position: absolute; right: 24px;bottom: 22px; color: #3F3A39; font-size: 15px;
    }
    
    .cube>ul>li:nth-child() {}

    .content .menu,.content .menu>ul>li{
        color: #fff; text-align: center; display: flex; justify-content: center; align-items: center; flex-direction: column;
    }
    .content .menu{
        width: 100%; height: 730px; background-image: url(../pcimg/mmenubg.png); background-repeat: no-repeat; background-position: center; background-size: cover; margin: 0 auto;  margin-bottom: 80px;
    }
    .content .menu p{font-size: 18px; padding-bottom: 16px;}
    .content .menu h3{font-size: 48px; font-weight: normal; padding: 25px 0 81px 0;}
    .content .menu{}
    .content .menu .bar{width: 50px; height: 3px; background: #fff;}

    .content .menu>ul{width: 1200px; height: 325px; display: flex; justify-content: center; align-items: center;}
    .content .menu>ul>li{float: left; width: 255px; margin-right: 60px;}
    .content .menu>ul>li:last-child{margin-right: 0;}

    .menu>ul>li img{padding-bottom: 20px;}
    .menu>ul>li h4{padding-bottom: 11px; font-size: 28px; font-weight: normal;}
    .menu>ul>li span{padding-bottom: 11px; font-size: 17.5px; line-height: 30px; font-weight: lighter;}
    .menu>ul>li a{
        color: #fff; font-size: 14px; line-height: 24px; width: 106px; height: 24px; background: rgba(255,255,255,0.2); border: 1px solid #ccc; border-radius: 12px;
    }
    .menu>ul>li a{}


    .sns{
        background: #fff; width: 1260px; height: 630px; margin: 0 auto; margin-bottom: 80px;
    }

    .sns>ul{
        display: flex;
        flex-wrap:wrap; position: relative;
        width: 1260px; height: 630px;
    }
    .sns>ul>li{
        width: 315px; height: 630px; float: left;
        font-size: 17px; line-height: 26px;
    }
    .sns>ul>li span{font-weight: 100;}
    
    .sns>ul>li>h4{margin-top: 28px; margin-bottom: 75px; font-size: 36px; font-weight: normal; text-align: center;}

    .sns>ul .har{position: relative;}
    .sns>ul .har>a{position: absolute;}
    .sns>ul .har>p{position: absolute;left: 27px;}

    .sns>ul>li:nth-child(1){
        color: #fff; background: #802429; padding: 40px;
        
    }
    .sns>ul>li:nth-child(1)>img{padding: 40px 0 0 58px;}
    .sns>ul>li:nth-child(1)>.har{padding-top: 66px;}
    .sns>ul>li:nth-child(2)>.bott{padding: 33px; height: 315px;}
    .sns>ul>li:nth-child(2)>.bott>.har{padding-top: 15px;}
    .sns>ul>li:nth-child(3)>.top{padding: 33px; height: 315px;}
    .sns>ul>li:nth-child(3)>.top>.har{padding-top: 42px;}
    .sns>ul>li:nth-child(4)>.bott{padding: 33px; height: 315px;}
    .sns>ul>li:nth-child(4)>.bott>.har{padding-top: 42px;}

    .sns>ul>li:nth-child(4){}
    

    .bot{width: 1260px; height: 316px; margin: 0 auto; margin-bottom: 80px;}
    .bot>div{float: left;}
    .bot>div>h3{font-size: 36px; font-weight: normal; padding-bottom: 31px;}
    .bot>div>p{font-size: 18px; line-height: 30px; font-weight: 100; padding-bottom: 36px;}
    .bot>div>a{display: block; text-align: center; line-height: 50px; color: #fff; font-size: 17px; width: 170px; height: 50px; border: 2px solid #fff;}

    .bot>.le{width: 630px; height: 316px; background-image: url(../pcimg/mbotbg1.png); color: #fff; padding: 48px;position: relative;}
    .bot>.ri{width: 630px; height: 316px; background-image: url(../pcimg/mbotbg2.png); color: #fff; padding: 48px; text-align: right; position: relative;}
    .bot>.le>.bar{position: absolute; background: #fff; width: 50px; height: 3px; top: 111px; left: 49px;}
    .bot>.ri>.bar{position: absolute; background: #fff; width: 50px; height: 3px; top: 111px; right: 49px;}
    .bot>.ri>a{float: right;}


    .footer .bar{
        background: #878787; width: 100%; height: 2px; margin-bottom: 30px;
    }

    .footer>.fcon{width: 1260px; margin: 0 auto; display: flex; justify-content:space-between; align-items: center;}
    .footer>div{}

    .footer li{float: left;}
    /* .footer .site ul{width: 250px;height: 50px;} */
    .footer .site li{float: left;}

    /* main */

    /* br1 */

    .subtitle{background-image: url(../pcimg/brand.png); background-repeat: no-repeat; background-size: cover; background-position: center; width: 100%; height: 460px;}
    
}

@media screen and (max-width:699px){
    .pc{display: none !important;}
    
    body{background: rgb(238, 238, 238); width: 100%;}
    

    .headertp{
        width: 100%; position: fixed; z-index: 1; height: 42px;
    }

    .headertp .logo{
        display: block; width: 103px; height: 17px;padding: 14px; position: absolute;
        top: 0; left: 0;
    }
    .gnbm{
        left: -100%;
        position: absolute; width: 100%; height: 100vh; top: 0; background: #AA192D;
    }
    .gnbm>ul{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
    .gnbm>ul>li{text-align: center; padding: 18px;}
    .gnbm>ul>li>a{padding: 5px; font-size: 28px; font-weight: bold; color: #fff;}
    .gnbm>ul>li>a:hover{color: #333;}
    .ham{position: absolute; right: 14px; top: 14px; width: 24.5px; height: 18px;}
    .ham>div{position: absolute; width: 24.5px; height: 4px; background: #3F3A39; border-radius: 2px; transition: 0.3s;}f
    .ham .bar1{}
    .ham .bar2{top: 50%; transform: translateY(-50%);}
    .ham .bar3{bottom: 0;}

    .ham.act{z-index: 1;}
    .ham.act div{background: #fff;}
    .ham.act .bar2{opacity: 0;}
    .ham.act .bar1{top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(45deg);}
    .ham.act .bar3{top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(-45deg);}


    .bxslide{width: 100vw;}
    .bxslide .slider img{width: 100vw;}

    .bxslide .bx-wrapper .bx-pager{
        bottom: 25px;
    }

    .cube{width: 100%;}
    .cube>ul{display: flex; flex-wrap:wrap;}
    .cube>ul>li{width: 50%; float: left; width: 50%; height: 270px;}
    .cube>ul>li>a{width: 100%; height: 270px;}


    .cube>ul>li:nth-child(1){order: 0;}
    .cube>ul>li:nth-child(2){width: 100%; order: 2;}
    .cube>ul>li:nth-child(3){position: static; order: 3;}
    .cube>ul>li:nth-child(4){order: 1;}
    .cube>ul>li:nth-child(5){position: static; order: 4;}
   

    .cube>ul>li:nth-child(6),
    .cube>ul>li:nth-child(7),
    .cube>ul>li:nth-child(8),
    .cube>ul>li:nth-child(10),
    .cube>ul>li:nth-child(11),
    .cube>ul>li:nth-child(9){display: none;}


    .cube>ul>li:nth-child(2) div{float: left;}
    .cube>ul>li:nth-child(2) .left{width: 50%; height: 270px; background: #FBD87E; display: flex; align-items: center; justify-content: center;}
    .cube>ul>li:nth-child(2) .right{width: 50%; height: 270px; text-align: left; padding: 46px 10%; position: relative; background: #fff; color: #3F3A39;}
    .right p{font-size: 15px; padding: 19px 0 3px 0; letter-spacing: normal;}
    .right .bar{
        width: 116px; height: 2px; display: block; background: #3F3A39; margin: 0 120px 10px 0;
    }
    .right h3{font-size: 23px; padding-bottom: 22px; letter-spacing: -0.5px;}
    .right>a{
        position: absolute; right: 20%;bottom: 42px; color: #3F3A39; font-size: 13px;
        font-weight: bold;
    }
    .cube>ul>li:nth-child(2) .bxslide2{width: 100%;}



}





